@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.wrapperCurrent
{
    font-family: 'Montserrat', sans-serif;
    width:65rem;
    background-color: #E5EDF1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left:10px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.mainConditions
{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.element
{
    margin-left: 50px;
}